<a href="https://colab.research.google.com/github/Sinshyrajesh/AI_ML_COURSE_ICTAK_SINSHY/blob/main/Python_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. A financial analyst stores monthly revenues in a list: [120000, 135000,128000, 142000, 150000]. Find the difference between the highest and lowest revenue without
using loops.

In [1]:
Monthly_revenues = [120000, 135000, 128000, 142000, 150000]

difference = max(Monthly_revenues) - min(Monthly_revenues)

print("Difference between highest and lowest revenue:", difference)

Difference between highest and lowest revenue: 30000

2. Given the tuple account = ('Asha', 'Savings', 56000, 'KCH'), unpack the values into
separate variables and print a formatted string: 'Asha has ₹56000 in her Savings
account (Branch: KCH)'.

In [1]:
Given_account = ('Asha', 'Savings', 56000, 'KCH')
name, acc_type, balance, branch= Given_account
print(f"{name} has ₹{balance} in her {acc_type} Given_account (Branch: {branch})")

Asha has ₹56000 in her Savings Given_account (Branch: KCH)

3. Convert the list of string numbers ['45000', '56000', '38000'] to integers and find
their average balance.

In [4]:
Balances = ['45000', '56000', '38000']
Average = (int(Balances[0]) + int(Balances[1]) + int(Balances[2])) / 3
print("Average Balance:", Average)

Average Balance: 46333.333333333336

4. Create a list with elements: ['Kochi', 'Chennai', 'Mumbai', 'Delhi', 'Pune']. Replace
'Delhi' with 'Hyderabad' and print the new list in reverse order using slicing.

In [5]:
cities = ['Kochi', 'Chennai', 'Mumbai', 'Delhi', 'Pune']
cities[3] = 'Hyderabad'
print(cities[::-1])

['Pune', 'Hyderabad', 'Mumbai', 'Chennai', 'Kochi']

5. You have two tuples: interest_2024 = (7.1, 7.3, 7.2) and interest_2025 = (7.4, 7.5).
Combine them and print the average of all interest rates.

In [6]:
A_2024 = (7.1, 7.3, 7.2)
B_2025 = (7.4, 7.5)
all_interest = A_2024 + B_2025
average = sum(all_interest) / len(all_interest)
print("Average interest rate:", average)

Average interest rate: 7.3

6. A string variable branch_id = 'TVM-FIN-2025'. Extract the branch code (first three
letters) and the year (last four digits).

In [7]:
branch_id = 'TVM-FIN-2025'
branch_code = branch_id[:3]
year = branch_id[-4:]
print("Branch Code:", branch_code)
print("Year:", year)

Branch Code: TVM
Year: 2025

7. Create a list transactions = [10000, -2000, 5000, -1500, 3000]. Without using loops,
find total deposits and withdrawals using list slicing or indexing only.

In [8]:
transactions = [10000, -2000, 5000, -1500, 3000]
deposits = transactions[0] + transactions[2] + transactions[4]
withdrawals = transactions[1] + transactions[3]
print("Total Deposits:", deposits)
print("Total Withdrawals:", withdrawals)

Total Deposits: 18000
Total Withdrawals: -3500

8. Given name = 'John Doe' and balance = 72500, print a message in title case stating
'John Doe has a balance of ₹72500'. Ensure no type errors occur.

In [9]:
name = 'John Doe'
balance= 72500
message = f"{name.title()} has a balance of ₹{balance}"
print(message)

John Doe has a balance of ₹72500

9. A tuple customer = ('Kiran', 'Loan', 80000, 7.5). Calculate and print the total amount
payable after 1 year if interest is simple interest based on rate 7.5%.

In [10]:
customer = ('Kiran', 'Loan', 80000, 7.5)
name, acc_type, principal, rate = customer
total_amount = principal + (principal * rate / 100)
print(f"Total amount payable after 1 year: ₹{total_amount}")

Total amount payable after 1 year: ₹86000.0

10. Create two lists – branches = ['Kochi', 'Chennai', 'Mumbai'] and profits = [120000,
95000, 134000]. Form a new list of tuples pairing each branch with its profit.

In [11]:
branches = ['Kochi', 'Chennai', 'Mumbai']
profits = [120000, 95000, 134000]
branch_profits = list(zip(branches, profits))
print(branch_profits)

[('Kochi', 120000), ('Chennai', 95000), ('Mumbai', 134000)]

11. From a list salaries = [45000, 56000, 38000, 62000, 54000], extract the top three
salaries using slicing only.

In [12]:
salaries = [45000, 56000, 38000, 62000, 54000]
top_three = sorted(salaries)[-3:]
print(top_three)

[54000, 56000, 62000]

12. Given the tuple exchange_rates = (83.2, 83.1, 83.5, 83.0, 82.9), convert it into a list
and change the third value to 84.0.

In [13]:
exchange_rates = (83.2, 83.1, 83.5, 83.0, 82.9)
rates_list = list(exchange_rates)
rates_list[2] = 84.0
print(rates_list)

[83.2, 83.1, 84.0, 83.0, 82.9]

13. Combine two lists customer_names = ['Asha', 'John', 'Meera'] and balances = [56000,
72000, 65000] into a formatted string such as 'Asha:56000, John:72000, Meera:65000'
without loops.

In [14]:
customer_names = ['Asha', 'John', 'Meera']
balances = [56000, 72000, 65000]
result = ', '.join(f"{n}:{b}" for n, b in zip(customer_names, balances))
print(result)

Asha:56000, John:72000, Meera:65000

14. Given account_info = (Deepa, 'Savings', 98000), use string formatting to print a
sentence 'Account Holder Deepz has ₹98000 in Savings account'.

In [17]:
account_info = ('Deepa', 'Savings', 98000)
name, acc_type, balance = account_info
print(f"Account Holder {name} has ₹{balance} in {acc_type} account")

Account Holder Deepa has ₹98000 in Savings account

15. Create a nested list storing branch names and their monthly collections: [['Kochi',
[120000, 135000]], ['Chennai', [95000, 110000]]]. Print only the collection of Chennai
branch without using loops.

In [18]:
branches = [['Kochi', [120000, 135000]], ['Chennai', [95000, 110000]]]
print(branches[1][1])

[95000, 110000]